/* Background Colors */
$blue: #0ac2d2;
$orange: #fdc162;
$red: #fd6a62;
$green: #60d7a9;
$pink: #f68dbb;
$purple: #996699;

$content-background-color: rgba(255, 255, 255, 0.1);

/* Component colors */
$text-color: #222;
$button-color: rgba(0, 0, 0, 0.1);
$border-color: rgba(0, 0, 0, 0.3);
$input-color: #fff;
$error-message: #ff0000;

$grey-light-1: #eee;
$grey: #bbb;
$grey-dark-1: #888;

/* Content width */
$content-max-width: 800px;
